div {
	font-family: 'Source Sans Pro', sans-serif;
}

.tip-top {
	text-align: center;
	font-weight: 700;
	font-size: 65px;
	padding-top: 20px;
}

.tip-top-2 {
	text-align: center;
	font-weight: 700;
	font-size: 50px;
	padding-top: 20px;
}

#tagline-box {
	font-size: 40px;
	padding-top: 75px;
	padding-bottom: 60px;
	text-align: center;
	font-weight: 400;
}

#or {
	font-weight: 600;
	text-align: center;
	font-size: 24px;
}

ul {
	text-align: right;
}

#submit-section {
	margin-bottom: 75px;
}

.navbar-x {
	margin-top: 20px;
	background-color: white;
}

label, input {
    display: block;
}

.form-control {
	border-radius: 0%;
}

.form-group {
	font-size: 16px;
}

.record-line-item {
    border-bottom: 1px solid grey;
    border-left: 3px solid blue;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.record-comp-item {
    border-left: 2px solid grey;
    padding-left: 1rem;
}

#record-search-field {
	padding-top: 20px;
	padding-bottom: 10px;
}

.equip-name {
	font-weight: 600;
	font-size: 20px;
}

.record-details {
	font-size: 14px;
}
